<!-- views/prescriptionsList.handlebars -->

<div id="patiName" class="aboutTitle">
    <h2> Prescriptions for :</h2>
</div>

<table class="table table-hover preslist">
  <thead>
    <tr>
      <th scope="col">Weight</th>
      <th scope="col">Height</th>
      <th scope="col">Prescription</th>
      <th scope="col">Observations</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each recs}}
    <tr>
      <td>{{this.weight}}</td>
      <td>{{this.height}}</td>
      <td>{{this.prescription}}</td>
      <td>{{this.observations}}</td>
      <td>{{this.createdAt}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/prescriptionsList.js"></script>

